@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model VeterinarianWithDoctors
}

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                    <div class="col-lg-5">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">@Model.Name</h1>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">@Model.Address</div>
                                <!-- Post categories-->
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">@Model.Rate</a>
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">@Model.City</a>
                            </header>
                            <!-- Preview image figure-->
                            <figure class="mb-4"><img class="img-fluid rounded" src="/pets_banner.jfif" alt="..." /></figure>
                            <!-- Post content-->
                            <section class="mb-5">
                                <p class="fs-5 mb-4">Schedule: @Model.Schedule</p>
                                <p class="fs-5 mb-4">Keywords: @Model.Keywords</p>
                            </section>
                        </article>
                    </div>
                    <div class="col-lg-7 row gx-2">
                        @foreach (Doctor item in Model.Doctors)
                        {
                            <div class="col-lg-4 card">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="doctor-info">
                                                <div class="doctor-image">
                                                    <img src="~/images/cartoon-veterinarian.jpg" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;" class="rounded-circle" />
                                                </div>
                                                <div class="doctor-details">
                                                    <h1 style ="font-size: 20px;">@item.Name @item.Lastname</h1>
                                                    <h1 style="color: gray; font-size: 12px;">Veterinarian</h1>
                                                    <h1 style="color: gray; font-size: 12px;">Licensed in @item.Location</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="doctor-price">
                                                <p>Starting at</p> 
                                                <h3 class="price" style="color: blue; font-size: 50px;">$@item.Price</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                           
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>