@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model VeterinarianWithDoctors
}

<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-12 px-4">
                        <div class="w-100 text-end">
                            <a asp-action="Delete" asp-route-id="@Model.Id" class="text-light mx-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </a>
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="text-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">@Model.Name</h1>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">@Model.Address</div>
                                <!-- Post categories-->
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">@Model.Rate</a>
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">@Model.City</a>
                            </header>
                            <!-- Preview image figure-->
                            <figure class="mb-4"><img class="img-fluid rounded" src="/pets_banner.jfif" alt="..." /></figure>
                            <!-- Post content-->
                            <section class="mb-5">
                                <p class="fs-5 mb-4">Schedule: @Model.Schedule</p>
                                <p class="fs-5 mb-4">Keywords: @Model.Keywords</p>
                            </section>
                        </article>
                    </div>
                    <div class="col-lg-7 row">
                        @foreach (Doctor item in Model.Doctors)
                        {
                            <div class="col-lg-6 mb-5">
                                <div class="card h-100 shadow border-0">
                                    @*<img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />*@
                                    <div class="card-body p-4">
                                        <div class="flex">
                                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">$@item.Price</div>
                                            <div class="badge bg-primary bg-gradient rounded-pill mb-2 ml-2">@item.Gender</div>
                                        </div>
                                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">@item.Name @item.Lastname</h5></a>
                                        <p class="card-text mb-0 text-success">Specialty: @item.SpecialtyDesc</p>
                                        <p class="card-text mb-0 text-success">Location: @item.Location</p>
                                        <p class="card-text mb-0 text-success">Schedule: @item.Schedule</p>
                                        <p class="card-text mb-0 text-success">Phone: @item.Tel</p>
                                    </div>
                                    @*<div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                <div class="small">
                                <div class="fw-bold">Kelly Rowan</div>
                                <div class="text-muted">March 12, 2023 &middot; 6 min read</div>
                                </div>
                                </div>
                                </div>
                                </div>*@
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>